body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gridofsquares {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 720px;
    width: 720px;
    padding: 0px;
    gap: 0px;
}